{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
  
/* 方案一：masthead 相关选择器 */
.masthead__menu-item,
.masthead__menu-item a,
.greedy-nav a,
.site-title,
.masthead a {
    font-family: "Bitter", serif !important;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
}

/* 让网站标题更突出 */
.masthead__menu-item--lg,
.masthead__menu-item:first-child,
.greedy-nav .visible-links li:first-child a {
    font-weight: 700 !important;
    font-size: 1.15em !important;
}
  
</style>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">


<meta http-equiv="cleartype" content="on">
